.ant-table-wrapper,
.ant-form {
  // background-color: #fff;
  // padding: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border{
  border: 1px solid #e8e8e8;
}

.table-title {
  display: flex;
  margin-bottom: 16px;
  // justify-content: space-between;
  // align-items: center;
  .table-title-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
